@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

#root {
  margin: 0;
  padding: 0;
  all: unset;
}
@media (min-width: 1367px) {
  .app {
    width: 100%;
  }
}

@media (max-width: 1367px) {
  .nuka-wrapper {
    width: 1000px;
  }
}
@media (max-width: 1023px) {
  .nuka-wrapper {
    width: 900px;
  }
}
@media (max-width: 920px) {
  .nuka-wrapper {
    width: 700px;
  }
}
@media (max-width: 767px) {
  .nuka-wrapper {
    width: 600px;
  }
}
@media (max-width: 639px) {
  .nuka-wrapper {
    width: 400px;
  }
}
@media (max-width: 430px) {
  .nuka-wrapper {
    width: 300px;
  }
}
@media (max-width: 364px) {
  .nuka-wrapper {
    width: 100px;
  }
}
@media (max-width: 220px) {
  .nuka-wrapper {
    width: 80px;
  }
}

select,
option {
  cursor: pointer;
}
.navItem {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;

    font-family: "Manrope", sans-serif;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

#root {
  margin: 0;
  padding: 0;
  all: unset;
}
@media (min-width: 1367px) {
  .app {
    width: 100%;
  }
}

.padding {
  padding: 0 20px;
}

@media (min-width: 1256px) {
  .padding {
    padding: 0 80px;
  }
}

.template {
  grid-template-rows: auto;
}
.btn {
  border-radius: 28px;
}

.h2 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 639px) {
  .h2 {
    font-size: 32px;
  }
}
.h3 {
  font-weight: 700;
  font-size: 24px;
  color: white;
}

.h4 {
  font-weight: 600;
  color: white;
  font-size: 16px;
}
.pagination {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  size: 14px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 50px;
}
.active {
  background-color: #0a142f;
  height: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.page a {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgb(194, 188, 188);
  color: #313131;
  cursor: pointer;
}
.next a,
.previous a {
  width: 76px;
  height: 36px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgb(194, 188, 188);
}
.active a {
  color: white;
}
.navItem {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
}

.error {
  font-size: small;
  padding-left: 12px;
  margin-bottom: 4px;
  color: red;
}
.round {
  border-radius: 200px;
}

.carousel {
  overflow: hidden;
  outline: none;
}

.in {
  transform: translateX(0);
}
.out {
  transform: translateX(100%);
}
.unscrollable {
  overflow-y: hidden;
}

.form-input {
  width: 400px;
}

@media (max-width: 639px) {
  .form-input {
    width: 330px;
  }
}

@media (max-width: 364px) {
  .form-input {
    width: max-content;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill);
  gap: 10px;
  justify-content: center;
}
.card {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 0;
}
.card-content {
  background: linear-gradient(
    180deg,
    rgba(12, 20, 29, 0.03) 14.09%,
    rgba(12, 20, 29, 0.1) 66.22%,
    rgba(12, 20, 29, 0.7) 100%
  );
  position: absolute;
  width: 100% !important;
  height: 384px !important;
  bottom: -100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.card:hover {
  .card-content {
    bottom: 0px;
  }
}

.Toastify__toast-icon {
  width: 200px;
  height: 200px;
}
