@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  user-select: none;
}

#root {
  margin: 0;
  padding: 0;
  all: unset;
}
@media (min-width: 1367px) {
  .app {
    width: 100%;
  }
}

.swiper-slide {
  width: max-content;
}
.nuka-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nuka-container {
  width: 100%;
  div {
    .shadow {
      box-shadow: 0px 0px 15px 2px rgb(211, 205, 205);
    }
  }
}
.nuka-container .nuka-slide-container .nuka-overflow .nuka-wrapper {
  display: inline-flex;
}

select,
option {
  cursor: pointer;
}
.navItem {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;

    font-family: "Mulish", sans-serif;
  }
}
.headline {
  font-family: "Rowdies", sans-serif;
}
.styleTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cartdefinition {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.opinioncartdefinition {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.opinioncartposition {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

#root {
  margin: 0;
  padding: 0;
  all: unset;
}
@media (min-width: 1367px) {
  .app {
    width: 100%;
  }
}

.padding {
  padding: 0 20px;
}

@media (min-width: 1256px) {
  .padding {
    padding: 0 80px;
  }
}

.template {
  grid-template-rows: auto;
}
.btn {
  border-radius: 28px;
}

.h2 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 639px) {
  .h2 {
    font-size: 32px;
  }
}
.h3 {
  font-size: 24px;
  color: white;
}

.h4 {
  font-weight: 600;
  color: white;
  font-size: 16px;
}
.chaptertitle {
  font-weight: 800;
  font-size: 48px;
  line-height: 65.57px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 639px) {
  .chaptertitle {
    font-size: 24px;
    line-height: 35.57px;
  }
}
.pagination {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  size: 14px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 50px;
}
.active {
  background-color: #0a142f;
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.page a {
  display: flex;
  align-items: center;
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgb(194, 188, 188);
  color: #313131;
  font-weight: 500;
  cursor: pointer;
}
.next a,
.previous a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(194, 188, 188);
}
.active a {
  border: none;
  color: white;
}
.navItem {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}

.error {
  font-size: small;
  padding-left: 12px;
  margin-bottom: 4px;
  color: red;
}
.round {
  border-radius: 200px;
}

.sectionpadding {
  padding: 80px 0;
}

.carousel {
  overflow: hidden;
  outline: none;
}

.in {
  transform: translateX(0);
}
.out {
  transform: translateX(100%);
}
.unscrollable {
  overflow-y: hidden;
}

.form-input {
  width: 400px;
}

@media (max-width: 639px) {
  .form-input {
    width: 330px;
  }
}

@media (max-width: 364px) {
  .form-input {
    width: max-content;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill);
  gap: 10px;
  justify-content: center;
}
.card {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 0;
}
.card-content {
  background: linear-gradient(
    180deg,
    rgba(12, 20, 29, 0.03) 14.09%,
    rgba(12, 20, 29, 0.1) 66.22%,
    rgba(12, 20, 29, 0.7) 100%
  );
  position: absolute;
  width: 100% !important;
  height: 384px !important;
  bottom: -100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.card:hover {
  .card-content {
    bottom: 0px;
  }
}
.opinion {
  font-family: "DM Sans", sans-serif;
}

.hoveringImage {
  position: relative;
}

.hoveringContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  word-break: break-all;
  font-weight: 400;
  transition: all ease-in-out 0.6s;
  opacity: 0;
  cursor: pointer;
}
.hoveringContent:hover {
  opacity: 1;
}
